.button {
    min-height: 71px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 208px;
    padding: 16px;
    border-radius: 4px;
    color: white;
    font-size: 34px;
    font-family: "Open Sans";
    background: #f14338;
}
