.container {
    position: relative;
    filter: brightness(1.15);

    &.bubble {
        padding: 23px;
    }

    .bubble,
    svg {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
        position: absolute;
    }
}

.alienImg {
    // width: 100px;
    // height: 100px;
}
