.container {
  width: 100%;
  max-width: 1200px;
  padding: 0;
  margin: auto;
  max-height: 889px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh; 
  height: calc(var(--vh, 1vh) * 100);
  z-index: 1;
}

.containerColumn {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  max-height: 870px;
}
